.drawControl {
    position: absolute;
    width: 265px;
    height: 30px;
    top: 45px;
    left: 85px;
    border-radius: 2px;
    border: 1px solid burlywood;
    background-color: bisque;
    display: flex;
    flex-direction: row;
}




.draw_Item_img {
    margin: 3px;
    width: 20px;
    height: 20px;
}

.img_dom {
    max-width: 15px;
    height: 15px;
    cursor: pointer;
}


.img_billboard {
    content: url(./images/billboard.png);
}

.img_point {
    content: url(./images/point.png);
}


.img_polyline {
    content: url(./images/draw_polyline_32.png);
}



.img_polygon {
    content: url(./images/draw_polygon_32.png);
}



.img_square {
    content: url(./images/draw_bounds_32.png);
}


.img_circle {
    content: url(./images/draw_circle_by_center_32.png);
}

.img_ellipse {
    content: url(./images/draw_ellipse_32.png);
}

.img_clear {
    content: url(./images/cancel.png);
}

.img_delete {
    content: url(./images/delete.png);
}


.img_edit {
    content: url(./images/edit.png);
}